:root {
    --primary-color: #000000;
    --secundary-color: #ffa500;
    --tertiary-color: #808080;

}

* {
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 40px;
    border-bottom: 2px solid var(--secundary-color);
}

.btn-primary {
    background-color: var(--secundary-color);
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border: solid 1px var(--secundary-color);
    color: var(--secundary-color);
}